.form-container {
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 12px;
    box-shadow: 0 0 16px -4px #080808;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    max-height: 700px;
    overflow-y: scroll;
}

.form-container h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}


.question-card {
    background-color: white;
    box-shadow: 0 0 16px -4px #080808;
    padding: 12px 20px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.question-card label {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.question-card input {
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid ;
    margin-bottom: 0px;
    border: 2px solid #080808;
}
.question-card input:focus {
    outline: 2px solid #fcba03;
    border: none;
    margin-bottom: 4px;
}

.question-card textarea {
    resize: none;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid #080808;
    margin-bottom: 0px;
    height: 100px;
}
.question-card textarea:focus {
    outline: 2px solid #fcba03;
    border: none
}

.prompt {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 24px;
    color: #0049a3;
    font-size: 16px;
}


 
.bar {
    height: 4px;
    background-color: #080808;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-weight: 600;
    margin-bottom: 0px;
}

.question-card select {
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid ;
    margin-bottom: 0px;
    border: 2px solid #080808;
}
.question-card select:focus {
    outline: 2px solid #fcba03;
    border: none;
    margin-bottom: 4px;
}