.review-container {
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 12px;
    box-shadow: 0 0 16px -4px #080808;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    width: 700px;
    max-height: 700px;
    overflow-y: scroll;
}

h2 {
    font-size: 36px;
    margin: 0px 0 20px;
    padding: 0px;
}

.review-box-container {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.review-box {
    background-color: #eee;
    padding: 20px;
    border-radius: 12px;
}

.review-box .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.heading h3 {
    font-size: 24px;
    margin: 0;
}



.box-open {
    height: fit-content;
    transition: 0.2s all;
}

.review-card {
    background-color: white;
    /* box-shadow: 0 0 16px -4px #080808; */
    padding: 12px 20px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.review-card div p {
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 8px;
}

.review-card div span {
    font-size: 16px;
    ;
}

.icon {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 50px;
    color: white;
}